.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.modal_item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.modal_item span {
  width: 18%;
  margin-right: 10px;
}
.modal_item_input {
  width: 80%;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-bottom: 2px solid rgba(62, 80, 181, 0.5);
}
.modal_item_input:focus {
  outline: none;
}
.modal_item_input:hover {
  border-bottom: 2px solid rgba(62, 80, 181, 1);
}
.modal_title {
  align-items: start;
  height: 30%;
}
.modal_title_textarea {
  width: 80%;
  height: 100%;
  border: 2px solid rgba(62, 80, 181, 0.5);
}

.modal_item_input:focus {
  outline: none;
  border-bottom: 2px solid rgba(62, 80, 181, 1);
}
.modal_footer_btn_parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.modal_footer_btn {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.modal_cancel_btn {
  background-color: rgba(0, 0, 0, 0.1);
}
.modal_cancel_btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal_ok_btn {
  background-color: rgba(62, 80, 181, 0.9);
  color: white;
}
.modal_ok_btn:hover {
  background-color: rgba(62, 80, 181, 1);
  cursor: pointer;
}
