.board_aside {
  width: 370px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}
.icon_div_parent {
  margin-top: 70px;
  margin-left: 50px;
}
.icon_div {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.icon_div:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
.icon_div span {
  padding-top: 5px;
  margin-left: 10px;
  font-size: 20px;
}
.board_icon {
  font-size: 2rem !important;
}
